# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dot files
*.dot

# llvm-dis files
*.ll

# Compilation
Release+Asserts/

# All files ending with ~
*~
